* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

h1 {
  text-align: center;
  margin-right: 2rem;
  color: lightgrey;
  margin-bottom: 0;
}

h1 span {
  color: deeppink;
}

.title img {
  max-height: 4rem;
  width: auto;
}

.interface {
  background-color: Gainsboro;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-top: 1.5rem;
}


/*CANVAS SECTION*/

.container {
  width: 1196px;
  margin: auto;
}

.canvas {
  width: 1196px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  border: solid DarkGrey 4px;
  overflow: hidden;
}

.pixel {
  min-width: 12px;
  min-height: 12px;
  border: solid Gainsboro 1px;
  background-color: white;
}


/*TOOL SECTION*/

.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tool-row {
  margin-bottom: 0;
}

.tool-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-pick {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid Gainsboro;
  border: black 1px solid;
}

.paint-section-1 {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.selected-color {
  display: flex;
  max-width: 10rem;
  line-height: 1.4;
  margin-bottom: 0;
  align-items: center;
}

.selected-color h4 {
  text-align: right;
  margin-right: 1rem;
}

.current-color {
  min-width: 5rem;
  min-height: 2.7rem;
  border: solid DarkGrey 4px;
}

input {
  min-width: 5rem;
  min-height: 2.7rem;
  border-radius: 0;
  background-color: deeppink;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}
